.nature {
  /* width: 300px; */
  height: 300px;

  background: url('https://media.istockphoto.com/photos/winding-water-spring-picture-id1199882826?s=612x612');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_content {
  color: whitesmoke;
  position: absolute;
  padding: 0.75rem 1rem;
  padding-top: 60px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.card_content h3,
.card_content p {
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.25rem;
}
